@import "styles/variables"

.header
    min-height: 60px
    width: 100vw
    color: $fontSecondaryColor
    background-color: $tertiaryColor
    position: fixed
    top: 0
    z-index: 100
    clip-path: polygon(0% 0%, 100% 0%, 100% calc(100% - 17px), 0% 100%)
    user-select: none
    transition: padding 0.5s ease-in-out
.logo
    height: 60px
    width: 60px
    position: relative
    float: left
    cursor: pointer

.name
    height: 60px
    width: auto
    float: left
    cursor: pointer
    font-size: 35px
    line-height: 60px
    font-weight: bold
    margin: 0 15px

.hamburgerContainer
    position: relative
    float: right
    height: 48px
    width: 48px
    margin: 0 //6px 0 middle

.navigation
    ul
        margin: 0
        padding: 0
        list-style-type: none
        display: flex
        a
            text-decoration: none

@media (max-width: 800px)
    .header
        padding: 10px 30px
    .hamburgerContainer
        display: block
    .navigation[data-visible=true]
        max-height: 290px //random
    .navigation[data-visible=false]
        max-height: 0
    .navigation
        transition: max-height 0.5s ease-in-out
        float: left
        width: 100%
        ul
            flex-wrap: wrap
            margin-top: 20px
            margin-bottom: 20px
            li
                width: 100%
                a
                    height: 50px
                    padding-left: 30px
                    line-height: 50px
                    font-size: 18px
                    display: block

@media (min-width: 800px)
    .header
        padding: 10px 70px
    .hamburgerContainer
        display: none
    .navigation
        height: 60px
        padding: 0
        float: right
        ul
            flex-wrap: nowrap
            li
                a
                    padding: 0 15px
                    display: block
                    height: 50px
                    line-height: 40px //random
            li:hover ~ .dot
                -webkit-transition: all 0.2s ease-in-out
                transition: all 0.2s ease-in-out
                opacity: 1
            li:nth-child(1):hover ~ .dot
                -webkit-transform: translateX(36px) translateY(40px)
                transform: translateX(36px) translateY(40px)
            li:nth-child(2):hover ~ .dot
                -webkit-transform: translateX(92px) translateY(40px)
                transform: translateX(92px) translateY(40px)
            li:nth-child(3):hover ~ .dot
                -webkit-transform: translateX(180px) translateY(40px)
                transform: translateX(180px) translateY(40px)
            li:nth-child(4):hover ~ .dot
                -webkit-transform: translateX(285px) translateY(40px)
                transform: translateX(285px) translateY(40px)
            .dot
                width: 5px
                height: 5px
                background: white
                position: absolute
                border-radius: 50%
                opacity: 0
                -webkit-transform: translateX(0px) translateY(40px)
                transform: translateX(0px) translateY(40px)
                -webkit-transition: all 0.2s ease-in-out
                transition: all 0.2s ease-in-out
