@import "styles/variables"

.photo
    height: 250px
    width: auto
    margin: 5px
    padding: 10px
    border-radius: 10px
    position: relative
    cursor: pointer
    background-color: $primaryColor
    img, .photoCaption
        transition-duration: 0.5s
        border-radius: 10px
    img
        height: 100%
        position: relative
        width: auto
        filter: blur(0px)
    .photoCaption
        height: calc(100% - 20px)
        width: calc(100% - 20px)
        position: absolute
        top: 10px
        opacity: 0
        display: flex
        justify-content: center
        align-items: center
        color: white
        padding: 30px
        font-size: 12px
        background-color: rgba(0, 0, 0, 0.4)
.photo:hover
    img
        filter: blur(2px)
    .photoCaption
        opacity: 1
