@import "styles/variables"

.form
    width: 600px
    background-color: $secondaryColor
    border-left: 20px solid $tertiaryColor
    padding: 30px 30px
    margin: 15px 0
    border-radius: 15px
    clip-path: polygon(65% 0%, 100% 20px, 100% 100%, 35% calc(100% - 15px), 0% calc(100% - 10px), 0% 10px)
    .inputContainer
        height: auto
        width: 100%
        margin: 13px 0
        position: relative
        .textarea
            resize: none
            height: 150px
            padding: 15px 20px 0
        .input
            height: 40px
            line-height: 40px
            padding: 25px 20px
        .input, .textarea
            clip-path: polygon(50% 0%, 100% 4px, 100% 100%, 50% calc(100% - 5px), 0% calc(100% - 4px), 0% 5px)
            font-family: inherit
            width: 100%
            font-size: 14px
            color: black
            box-sizing: border-box
            background-color: $primaryColor
            border-radius: 12px
            border: none
            outline: none
        .cut, .errorCut
            height: 20px
            position: absolute
            background-color: $secondaryColor
            border-radius: 10px
        .cut
            width: 60px
            left: 20px
            top: -16px
            transform: translateY(0)
            transition: 200ms
        .errorCut
            width: auto
            left: 20px
            top: -8px
            font-size: 10.5px
            line-height: 20px
            padding: 0 10px
            color: $errorColor
            opacity: 1
            transition: 200ms
        .placeholder
            font-family: inherit
            position: absolute
            font-size: 14px
            top: 0px
            left: 20px
            line-height: 49px //Random number
            color: black
            pointer-events: none
            transform-origin: 0 50%
            transition: transform 200ms, color 200ms
        //On focus on input for cut
        .input:focus ~ .cut, .textarea:focus ~ .cut,
        .input:not(:placeholder-shown) ~ .cut, .textarea:not(:placeholder-shown) ~ .cut
            transform: translateY(8px)
        //On focus or blur on input for placeholder
        .input:focus ~ .placeholder, .textarea:focus ~ .placeholder,
        .input:not(:placeholder-shown) ~ .placeholder, .textarea:not(:placeholder-shown) ~ .placeholder
            transform: translateY(-23px) translateX(10px) scale(0.75)
        //On focus on input for placeholder
        .input:focus ~ .placeholder, .textarea:focus ~ .placeholder
            color: $fontPrimaryColor
        //On blur on input for placeholder
        .input:not(:placeholder-shown) ~ .placeholder, .textarea:not(:placeholder-shown) ~ .placeholder
            color: $tertiaryColor
        //On focus on input for errorCut
        .input:focus ~ .errorCut, .textarea:focus ~ .errorCut,
        .input:not(:placeholder-shown) ~ .errorCut, .textarea:not(:placeholder-shown) ~ .errorCut
            left: 90px
        //On empty error
        .errorCut:empty
            opacity: 0
    //Submit
    .submit, .sumbit:active
        padding: 0
        height: 60px
        width: 100%
        clip-path: polygon(50% 0%, 100% 4px, 100% 100%, 50% calc(100% - 5px), 0% calc(100% - 4px), 0% 5px)
        font-size: 18px
        font-family: inherit
        font-weight: bold
        color: $fontSecondaryColor
        border-radius: 15px
        border: none
        outline: none
        cursor: pointer
        .submitMessageHeader
            margin-top: -3px //random number
        .submitMessageText
            font-size: 10px
    .submit:disabled
        cursor: not-allowed
    .submit[data-status=""]
        background-color: $tertiaryColor
    .submit[data-status="loading"], .submit:hover:enabled, .submit:disabled
        background-color: $primaryColor
        color: $tertiaryColor
    .submit[data-status="success"]
        background-color: $successColor
    .submit[data-status="error"]
        background-color: $errorColor
