@import "variables"

*
  box-sizing: border-box

html,
body
  padding: 0
  margin: 0
  background-color: $primaryColor
  color: $fontPrimaryColor
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif

a
  color: inherit
  text-decoration: none
a:hover
  text-decoration: underline

h1,h2,h3
  margin: 5px 0

p, ul
  margin: 5px 0

main
  width: 100%
  margin: 85px auto 0px auto
  min-height: calc(100vh - 165px) // Size of footer + margin bottom + margin top
